html {
  border: 1px solid black;
}

/* UNIVERSAL -  */
@font-face {
  font-family: 'Rusty';
  src: url('/assets/fonts/RustyHooks.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'SunnySpells';
src: url('/assets/fonts/SunnySpells.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'SunnySpellsBasic';
src: url('/assets/fonts/SunnySpellsBasic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Comfortaa';
src: url('/assets/fonts/Comfortaa-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.fontWave {
  display: grid;
  align-items: center;
  background: linear-gradient(125deg, #000000, rgb(83, 41, 83), #3ac4cc, #4e924c,rgb(177, 138, 9), #ff0000, white);
  background-size: 600% 600%;


  -webkit-animation: wave 17s ease infinite;
    animation: wave 17s ease infinite;
    box-shadow: 0px 0px 5px black;
    min-height: 200px;
}

.fontWaveText {
  color: rgb(255,0,0);
  mix-blend-mode: difference;
  text-align: center;
  font-size: 8vw;
}

.fontWaveText:after {
  color: rgb(0,255,255);
  mix-blend-mode: darken;
}


@-webkit-keyframes wave {
  0%{background-position:0% 15%}
  50%{background-position:100% 86%}
  100%{background-position:0% 15%}
}
@keyframes wave {
  0%{background-position:0% 15%}
  50%{background-position:100% 86%}
  100%{background-position:0% 15%}
}

h1 {
  font-family: 'Rusty', serif;
}

h2, h3, h4, h5 {
  font-family: 'SunnySpells', sans-serif;
}

/*  BUTTON  */
button {
  border-radius: 50px;
  padding: 2rem;
  transition: 0.5s;
  background: rgb(255, 210, 112);
}

button:hover{
  background: #fffdf0;
  color: #8b6e0c;
  box-shadow: 0 0 5px #ffe600,
              0 0 25px #fffc4b,
              0 0 50px #ffe988,
              0 0 200px #ffeea3;
  animation: rotate 0.7s ease-in-out both;
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
  border: 3px #f7c31b;
   /* -webkit-box-reflect:below 1px linear-gradient(transparent, #0005); */
}

button h2 {
  font-family: 'Rusty', sans-serif;
  font-size: 1.5rem;
}

button:active {
  background: #f7c31b;
  filter: saturate(200%);
  box-shadow: 0 0 50px #ffe600,
              0 0 150px #fffc4b,
              0 0 250px #ffe988,
              0 0 700px #ffeea3;
}

@keyframes rotate {
    0% {transform: rotate(0deg) translate3d(0, 0, 0)}
    25%
        {transform: rotate(3deg) translate3d(0, 0, 0)}
    50%
        {transform: rotate(-3deg) translate3d(0, 0, 0)}
    75%
        {transform: rotate(1deg) translate3d(0, 0, 0)}
    100%
        {transform: rotate(0deg) translate3d(0, 0, 0)}
  }

  @keyframes storm {
    0%
        {transform: translate3d( 0, 0, 0) translateZ(0)}
    25%
        {transform: translate3d( 0, 4px,  0) translateZ(0)}
    50%
        {transform: translate3d(  0,-3px, 0) translateZ(0)}
    75%
        {transform: translate3d( 0, 2px, 0) translateZ(0)}
    100%
        {transform: translate3d( 0, 0, 0) translateZ(0)}
}

li {
  list-style: none;
  font-family: 'Comfortaa', sans-serif;
}

a {
  text-decoration: none;

}

.padIt {
  padding: 0.5rem;;
}

/* COMMONS */
/* .flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
} */

/* MOBILE */
@media (max-width: 599px) {
  html {
    background-image: url('/assets/images/small/backMobile.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  body {
    backdrop-filter: blur(7px);
  }
  
  nav {
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
  }

  a {
    padding: 1rem;
    cursor: pointer;
  }

  .headTitleCont {
    display: block;

  }

  .headTitle {
    font-size: clamp(33px, 15vw, 100px);
    text-align: center;

  }

  .navTableUl {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  .logoCont {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .navImg {
    width: clamp(25px, 20vw, 150px);
  }

  .content {
    background-color: white;
    background-image: none;
    text-align: center;
  }


  .content1 div h1{
    text-align: center;
    font-size: clamp(50px, 4rem, 500px);
    /* background: linear-gradient(to bottom, rgb(44, 143, 97), rgb(65, 195, 228)); */
    background: linear-gradient(to bottom, rgb(44, 143, 97), rgb(13, 53, 58));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  

}

/* TABLET QUERY */
@media (min-width: 600px) {
  
}

/* LAPTOP QUERY */
@media (min-width: 769px) {

}

/* DESKTOP */
@media (min-width: 993px) {

}

/* HIGH RES - OLED? */